<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<form th:action="@{/staffs}" method="post">
    <p>姓名：<input type="text" name="name"></p>
    <p>基本工资：<input type="text" name="basic_salary"></p>
    <p>职务工资：<input type="text" name="position_salary"></p>
    <p>津贴：<input type="text" name="allowance"></p>
    <p>养老保险：<input type="text" name="medical_insurance"></p>
    <p>住房公积金：<input type="text" name="housing_fund"></p>
    <input type="submit" value="提交">
</form>
</body>
</html>