<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boo.mapper.StaffMapper">
    <select id="getStaffs" resultType="com.boo.pojo.Staff">
        select * from staff
    </select>

    <insert id="addStaff" parameterType="com.boo.pojo.Staff">
        insert into
        staff(name,basic_salary,position_salary,allowance,medical_insurance,housing_fund,total_salary)
        values
        (#{name},#{basic_salary},#{position_salary},#{allowance},#{medical_insurance},#{housing_fund},#{total_salary})
    </insert>

    <select id="findStaffById" resultType="com.boo.pojo.Staff">
        select * from staff where id = #{id}
    </select>

    <update id="updateStaff" parameterType="com.boo.pojo.Staff">
        update staff
        set name = #{name},basic_salary=#{basic_salary},position_salary=#{position_salary},
        allowance = #{allowance}, medical_insurance = #{medical_insurance},
        housing_fund = #{housing_fund},total_salary = #{total_salary}
        where id = #{id}
    </update>

    <delete id="deleteStaff">
        delete from staff where id = #{id}
    </delete>

</mapper>